<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')%> 
    <link rel="stylesheet" href="../css/user/login.css">
    <link rel="stylesheet" href="./css/normalize.css">
    <title>Login</title>
</head>
    <%- include('../partials/header')%>
    <div class="formulario-login">
        <form action="./login" method="POST" class="login-form">
            <h3 class="enter">Login</h3>
            <div>
                <input type="text" placeholder="Correo electrónico" name="email" class="text-login2">
                <% if (locals.errors && errors.email) { %>
                    <div class="warning-text">
                        <i class="fas fa-exclamation-circle"></i>
                        <%= errors.email.msg %>
                    </div>
                    <% } %>
            </div>
            <div>
                <input type="password" placeholder="Contraseña" name="password" class="text-login2">
                <% if (locals.errors && errors.password) { %>
                    <div class="warning-text2">
                        <i class="fas fa-exclamation-circle"></i>
                        <%= errors.password.msg %>
                    </div>
                    <% } %>
            </div>
            <label class="remember-me">
                <input type="checkbox" name="remember"><strong class="text-login-remember-me"> Recordar Usuario</strong>
            </label>
            <div class="button-enviar">
                <button type="submit" class="text-login">Enviar</button>
            </div>
        </form>
    </div>
</html>